---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/league-spartan";
import { Image } from "astro:assets";
import stacheImg from "../images/stache.svg";
---

<Layout title="Code Stache">
  <main
    class="flex justify-center items-center flex-col h-full text-center lowercase"
  >
    <header class="font-sans -space-y-20">
      <h1 class="font-semibold tracking-[-0.1em] text-[12rem]">
        Code Stache .
      </h1><h2 class="text-5xl font-extralight">The Computer Company</h2>
    </header>
    <Image src={stacheImg} alt="Code Stache Logo" class="w-52 pt-40" />
  </main>
</Layout>
